@import "tailwindcss";

::-webkit-scrollbar{
    display: none;
}

/*!style hover menu*/

.hovermenu:hover i , .hovermenu:hover p{
    color: #f1662a;
}

/*!style table at manageproduct page*/

.tablestyle{
    height: calc(100dvh - 60px);
}

/*!style alert component*/

.alert{
    transition: all .2s ease;
}

.alertaction{
    transform: translateY(200px);
}

.alertloadbar{
    animation: alertloadbar 5s linear forwards;
}

@keyframes alertloadbar {
    0%{
        width: 100%;
    }
    50%{
        width: 50%;
    }
    100%{
        width: 0%;
    }
}

/*!style edit category*/

.showeditbox{
    height: 50px;
}